<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Absenku</title>
    <link rel="icon" href="../public/large-removebg-preview.png" />
    <link rel="stylesheet" href="../src/about/about.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nanum+Myeongjo&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://kit.fontawesome.com/1c59cf9cb0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <div id="preloader"></div>
      <div class="navbar-container">
        <a href="../index.html"
          ><img src="../public/absenku-removebg-preview.png" alt="Absenku"
        /></a>
        <div class="navbar-list">
          <ul>
            <li><a href="../index.html">Beranda</a></li>
            <li><a href="/components/fiture.html">Fitur</a></li>
            <li><a href="/components/contact.html">Contact</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
        <div class="button">
          <a class="button-1" href="">Absen</a>
          <a class="button-2" href="./login.html">Masuk</a>
        </div>
      </div>
    </nav>
    <main id="home">
      <section class="main-container">
        <div class="content-container">
          <div class="text-content">
            <p class="head">who we are</p>
            <h1 class="center">About Absensiku</h1>
            <p class="bottom">
              Absensiku adalah solusi absensi digital yang dirancang untuk
              mempermudah proses pencatatan kehadiran di berbagai lingkungan,
              mulai dari institusi pendidikan hingga perusahaan. Dengan
              teknologi berbasis cloud dan integrasi API, Absensiku memungkinkan
              pengguna untuk melacak kehadiran secara real-time, menghasilkan
              laporan otomatis, serta memberikan kemudahan akses di mana saja
              dan kapan saja.
            </p>
            <div class="list">
              <i class="fa-solid fa-check"></i>
              <p>Pencatatan Kehadiran Otomatis</p>
            </div>
            <div class="list">
              <i class="fa-solid fa-check"></i>
              <p>Laporan Real-Time yang Akurat</p>
            </div>
          </div>
          <div class="img-container">
            <img src="/public/ngo-illustration-Artboard-10.png" alt="" />
          </div>
        </div>
      </section>
      <section class="info-section">
        <div class="info-box">
          <div class="icon"><i class="fa-solid fa-list-check"></i></div>
          <h2>Our mission</h2>
          <p>
            Kami berkomitmen untuk mempermudah proses absensi dengan menyediakan
            platform digital yang efisien, akurat, dan mudah diakses. Absensiku
            hadir untuk mengurangi beban administrasi manual dan memberikan
            solusi absensi berbasis teknologi yang dapat diandalkan.
          </p>
        </div>
        <div class="info-box">
          <div class="icon vision-icon">
            <i class="fa-solid fa-clipboard-user"></i>
          </div>
          <h2>Our vision</h2>
          <p>
            Kami membayangkan masa depan di mana setiap institusi atau
            organisasi dapat melacak kehadiran dengan mudah dan transparan.
            Absensiku bertujuan untuk menjadi platform utama dalam menciptakan
            lingkungan yang lebih produktif melalui pengelolaan kehadiran yang
            otomatis dan akurat.
          </p>
        </div>
        <div class="info-box">
          <div class="icon story-icon"><i class="fa-solid fa-book"></i></div>
          <h2>Our story</h2>
          <p>
            Dimulai dengan ide sederhana untuk menyederhanakan proses absensi,
            Absensiku telah berkembang menjadi solusi digital yang membantu
            berbagai perusahaan dan institusi dalam memonitor kehadiran karyawan
            dan peserta. Dengan teknologi berbasis cloud dan fitur yang terus
            ditingkatkan, kami berusaha untuk memenuhi kebutuhan pengelolaan
            absensi dengan standar tertinggi.
          </p>
        </div>
      </section>
      <section class="video-container">
        <iframe
          src="https://www.youtube.com/embed/FkQuawiGWUw"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </section>
      <section class="about-container">
        <div class="about-section">
          <div class="content">
            <div class="left">
              <span>what we do</span>
              <h1>Meningkatkan Efisiensi dan Akurasi Absensi</h1>
              <p>
                Absensiku bertujuan untuk memberikan solusi absensi yang
                efisien, akurat, dan mudah digunakan bagi berbagai institusi dan
                perusahaan. Dengan teknologi terkini, kami memastikan proses
                pencatatan kehadiran menjadi lebih cepat dan tepat sasaran,
                mengurangi kesalahan manual, dan meningkatkan produktivitas.
                Absensiku membantu menjaga transparansi data kehadiran dengan
                memberikan akses real-time yang dapat diandalkan, sehingga
                institusi dapat mengambil keputusan berdasarkan data yang
                akurat.
              </p>
            </div>
            <div class="right">
              <div class="top">
                <span>Meningkatkan Akurasi dan Keandalan</span>
                <p>
                  Kami menghadirkan solusi yang tidak hanya mudah digunakan
                  tetapi juga mampu mengatasi berbagai tantangan absensi yang
                  sering terjadi, seperti manipulasi data atau kesalahan
                  perhitungan. Absensiku memastikan setiap catatan kehadiran
                  tercatat dengan akurat, serta dilindungi oleh sistem keamanan
                  yang tinggi agar data tetap aman dan tidak dapat
                  disalahgunakan. Kami percaya bahwa akurasi dan keandalan
                  adalah fondasi penting dalam pengelolaan kehadiran.
                </p>
              </div>
              <div class="button">
                <span>Pengelolaan Kehadiran yang Lebih Mudah</span>
                <p>
                  Dengan Absensiku, seluruh proses absensi dapat dilakukan
                  secara otomatis dan efisien. Mulai dari pencatatan hingga
                  pelaporan, semua dilakukan melalui platform yang aman dan
                  berbasis cloud. Absensiku memastikan bahwa setiap data
                  kehadiran dapat diakses dengan mudah kapan saja dan dari mana
                  saja, memungkinkan tim HR atau manajer untuk memantau
                  kehadiran secara efektif tanpa kerumitan.
                </p>
              </div>
            </div>
          </div>
          <div></div>
        </div>
      </section>
      <section class="introduction-content">
        <div class="content">
          <i class="fa-solid fa-list-check"></i>
          <h1>Presensi/Absensi Digital</h1>
          <p>
            Mahasiswa bisa absen di lokasi yang telah disetujui melalui
            handphone. Cukup selfie, bebas terkontaminasi!
          </p>
        </div>
        <div class="content">
          <i class="fa-solid fa-clipboard-user"></i>
          <h1>Client Visit</h1>
          <p>
            Tim sales dan karyawan lapangan mencatat jadwal kegiatan kunjungan
            klien secara real-time, semakin mudah pantau manajemen waktu
            karyawan.
          </p>
        </div>
        <div class="content">
          <i class="fa-solid fa-book"></i>
          <h1>Timesheet Online</h1>
          <p>
            Karyawan dapat mencatat daftar pekerjaan harian di handphone dan
            Anda dapat memantau produktivitas mereka.
          </p>
        </div>
      </section>
      <section class="footer-container">
        <div class="footer-content">
          <h1>
            Join Absensiku. Simplify, Track, Report. Start Your Journey Today.
          </h1>
          <div class="information">
            <p>
              Email:
              <a href="">sasakihaise985@gmail.com</a>
            </p>
            <p>
              No hp:
              <a href="wa.me/6281380817301">0813-8081-7301</a>
            </p>
          </div>
          <div class="button">
            <button class="button-1">Browser Campaigns</button>
            <button class="button-2">Get Involved</button>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>© 2022 Absenku. All rights reserved.</p>
      <div class="social-media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </footer>
    <script src="../src/js/loader.js"></script>
  </body>
</html>
