<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Absenku</title>
    <link rel="icon" href="../public/large-removebg-preview.png" />
    <link rel="stylesheet" href="../src/contact/contact.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nanum+Myeongjo&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://kit.fontawesome.com/1c59cf9cb0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <div id="preloader"></div>
      <div class="navbar-container">
        <a href="../index.html"
          ><img src="../public/absenku-removebg-preview.png" alt="Absenku"
        /></a>
        <div class="navbar-list">
          <ul>
            <li><a href="../index.html">Beranda</a></li>
            <li><a href="/components/fiture.html">Fitur</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="">About</a></li>
          </ul>
        </div>
        <div class="button">
          <a class="button-1" href="">Absen</a>
          <a class="button-2" href="./login.html">Masuk</a>
        </div>
      </div>
    </nav>
    <main id="home">
      <section class="contact-container">
        <div class="contact-content">
          <div class="contact-text">
            <p>contact</p>
            <h1>Get In Touch</h1>
            <h5>
              Praesent sapien lacus, molestie vitae arcu in, elementum congue
              justo. Aenean aliquam semper velit eu pretium. Suspendisse mattis
              luctus quam nec vehicula. Donec scelerisque tristique metus a
              vestibulum.
            </h5>
          </div>
          <div class="contact-form">
            <form action="#">
              <div class="form-group" for="Name">
                <input type="text" name="Name" placeholder="Nama Lengkap" />
              </div>
              <div class="form-group" for="email">
                <input type="email" name="email" placeholder="Email" />
              </div>
              <div class="form-group" for="message">
                <textarea
                  id="komentar"
                  name="komentar"
                  rows="7"
                  cols="50"
                  placeholder="Message"
                ></textarea>
              </div>
              <button>Submit</button>
            </form>
          </div>
        </div>
        <div class="introduction">
          <div class="introduction-content">
            <div class="content">
              <div class="image">
                <img
                  src="https://www.elegantthemes.com/layouts/wp-content/uploads/2021/09/ngo-icon-16.png"
                  alt=""
                />
              </div>
              <div class="text">
                <span>Email</span>
                <p>sasakihaise985@gmail.com</p>
              </div>
            </div>
            <div class="content">
              <div class="image">
                <img
                  src="http://zaib.sandbox.etdevs.com/ngo/wp-content/uploads/sites/22/2021/09/ngo-icon-18.png"
                  alt=""
                />
              </div>
              <div class="text">
                <span>Phone</span>
                <p>(+62)-813-8081-7301</p>
              </div>
            </div>
            <div class="content">
              <div class="image">
                <img
                  src="http://zaib.sandbox.etdevs.com/ngo/wp-content/uploads/sites/22/2021/09/ngo-icon-17.png"
                  alt=""
                />
              </div>
              <div class="text">
                <span>Address</span>
                <p>
                  Jl. Sariasih No.54, Sarijadi, Kec. Sukasari, Kota Bandung,
                  Jawa Barat 40151
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="introduction-container">
        <div class="container">
          <div class="left-content">
            <h1>Gunakan Sistem Absensi Online Kami!</h1>
            <p>
              Dengan sistem absen online kami, pencatatan kehadiran menjadi
              lebih efisien dan praktis. Anda dapat melakukan absensi kapan saja
              dan dimana saja melalui perangkat mobile atau komputer. Nikmati
              kemudahan akses langsung dan integrasi dengan jadwal kerja anda,
              serta pengingat otomatis untuk memastikan tidak ada yang terlewat
            </p>
            <button class="btn-directions">Get Directions</button>
          </div>
          <div class="right-content">
            <div class="hours-container">
              <div class="hours-header">HOURS</div>
              <div class="hours-content">
                <p><strong>Monday – Friday</strong><br />9am – 5pm</p>
                <p><strong>Saturdays</strong><br />11am – 5pm</p>
                <p><strong>Sundays</strong><br />9am – 3pm</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="faq-container">
        <p>FAQ</p>
        <span>Frequently Asked Questions</span>
        <div class="faq-content">
          <div class="faq-section">
            <div class="section">
              <div class="header">
                <span>Absen Online yang Mudah dan Praktis</span>
                <button class="faq-button">+</button>
              </div>
              <div class="isi">
                <p>
                  Dengan absensi online, Anda dapat mencatat kehadiran tanpa
                  kendala, langsung dari perangkat Anda kapan saja dan di mana
                  saja. Semua data kehadiran akan tercatat secara otomatis,
                  memudahkan pengelolaan waktu dan kehadiran tanpa repot.
                </p>
              </div>
            </div>
            <div class="section">
              <div class="header">
                <span>Pengelolaan Kehadiran yang Tersimpan dengan Aman</span>
                <button class="faq-button">+</button>
              </div>
              <div class="isi">
                <p>
                  Sistem ini dirancang untuk memberikan kemudahan dan akurasi
                  dalam mencatat kehadiran. Anda dapat memilih opsi absensi dengan
                  fleksibilitas, tanpa hambatan atau kesulitan dalam penggunaan,
                  memberikan pengalaman yang lancar dan efisien.
                </p>
              </div>
            </div>
            <div class="section">
              <div class="header">
                <span>Absen Online yang Mudah dan Efisien</span>
                <button class="faq-button">+</button>
              </div>
              <div class="isi">
                <p>
                  Sistem absensi online membantu mempermudah pencatatan kehadiran
                  karyawan, memungkinkan pencatatan waktu secara akurat, serta
                  memberikan fleksibilitas dalam bekerja tanpa mengurangi
                  efektivitas atau produktivitas.
                </p>
              </div>
            </div>
            <div class="section">
              <div class="header">
                <span>Kenyamanan dan Akurasi dalam Absensi Online</span>
                <button class="faq-button">+</button>
              </div>
              <div class="isi">
                <p>
                  Sistem ini memudahkan pengelolaan kehadiran dengan cara yang
                  aman dan akurat, memungkinkan pengguna untuk memilih metode
                  absensi yang paling sesuai, tanpa mengalami kesulitan atau
                  hambatan teknis.
                </p>
              </div>
            </div>
            <div class="section">
              <div class="header">
                <span>Fleksibilitas Waktu dan Absensi yang Mudah</span>
                <button class="faq-button">+</button>
              </div>
              <div class="isi">
                <p>
                  Dengan absensi online, Anda bisa mencatat kehadiran kapan saja,
                  tanpa perlu terikat dengan waktu tertentu. Sistem ini memberikan
                  kebebasan bagi pengguna untuk mengatur kehadiran mereka dengan
                  lebih fleksibel.
                </p>
              </div>
            </div>
            <div class="section">
              <div class="header">
                <span>Absensi yang Akurat dan Terpercaya</span>
                <button class="faq-button">+</button>
              </div>
              <div class="isi">
                <p>
                  Sistem ini memastikan kehadiran karyawan dicatat dengan akurasi
                  yang tinggi, serta memberikan fleksibilitas dalam pemilihan
                  metode absensi, membuat proses absensi menjadi lebih cepat dan
                  mudah.
                </p>
              </div>
            </div>
            <div class="section">
              <div class="header">                
                <span>Absensi Online yang Aman dan Transparan</span>
                <button class="faq-button">+</button>
              </div>
              <div class="isi">
                <p>
                  Sistem absensi online kami memberikan transparansi dan
                  keakuratan data kehadiran. Semua informasi dicatat dengan jelas
                  dan terjamin keamanannya, sehingga tidak ada kekhawatiran
                  tentang kesalahan atau kehilangan data.
                </p>
              </div>
            </div>
          </div>
          <div class="form-section"></div>
        </div>
      </section>
      <section class="footer-container">
        <div class="footer-content">
          <h1>
            Join our mission. Volunteer, Donate, Advocate. Get Started Today.
          </h1>
          <div class="information">
            <p>
              Email:
              <a href="">sasakihaise985@gmail.com</a>
            </p>
            <p>
              No hp:
              <a href="wa.me/6281380817301">0813-8081-7301</a>
            </p>
          </div>
          <div class="button">
            <button class="button-1">Browser Campaigns</button>
            <button class="button-2">Get Involved</button>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>© 2022 Absenku. All rights reserved.</p>
      <div class="social-media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </footer>
    <script src="../src/js/loader.js"></script>
    <script src="../src/js/faq-toggle.js"></script>
  </body>
</html>
