body {
  background-color: #f5f3ee;
  font-family: "Open Sans", Arial, sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  --sb-size: 0px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
#preloader {
  background: #fff url("/public/830.gif") no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

nav {
  position: fixed;
  background: #fff;
  width: 100%;
  top: 0;
  z-index: 999;
}
nav .navbar-container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
nav .navbar-container img {
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
}
nav .navbar-container .navbar-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1em;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
}
nav .navbar-container .navbar-list ul {
  display: flex;
  margin: 0;
  padding: 0;
}
nav .navbar-container .navbar-list ul li {
  cursor: pointer;
  display: flex;
  margin: 0 10px;
  font-weight: 500;
}
nav .navbar-container .navbar-list ul li a {
  text-decoration: none;
  color: black;
}
nav .navbar-container .navbar-list ul li a:hover {
  color: rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}
nav .navbar-container .button {
  display: flex;
}
nav .navbar-container .button a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px 0 0 10px;
}
nav .navbar-container .button a.button-1 {
  background-color: #ef8451;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}
nav .navbar-container .button a.button-2 {
  background-color: white;
  color: #ef8451;
  border: 2px solid #ef8451;
  border-radius: 0 10px 10px 0;
  padding: 10px 20px;
  cursor: pointer;
}

#home {
  margin-top: 80px;
}
#home .main-container {
  height: 45rem;
  border-radius: 0 0 20px 20px;
  display: flex;
}
#home .main-container .content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: auto;
  width: 70rem;
  margin-bottom: 10rem;
}
#home .main-container .content-container .text-content {
  color: black;
}
#home .main-container .content-container .text-content .head {
  color: #ef8451;
  font-weight: 600;
  text-transform: uppercase;
}
#home .main-container .content-container .text-content .center {
  font-size: 60px;
  margin: -10px 0;
  font-weight: 500;
}
#home .main-container .content-container .text-content button {
  border: 1px solid #ef8451;
  background-color: transparent;
  color: #ef8451;
  padding: 18px;
  border-radius: 90px;
  font-size: 15px;
  margin-top: 10px;
  font-weight: 800;
  cursor: pointer;
}
#home .main-container .content-container .text-content button:hover {
  background-color: #ef8451;
  color: #fff;
  transition: 0.3s ease-in-out;
}
#home .main-container .content-container .text-content .list {
  display: flex;
  align-items: center;
}
#home .main-container .content-container .text-content .list i {
  font-size: 30px;
  margin-right: 10px;
  color: #ef8451;
}
#home .main-container .content-container .text-content .list p {
  font-size: 18px;
  font-weight: 600;
}
#home .main-container .content-container .img-container {
  text-align: center;
}
#home .main-container .content-container .img-container img {
  width: 80%;
}
#home .info-section {
  display: flex;
  gap: 20px;
  background-color: #2c6e5b;
  padding: 40px;
  border-radius: 20px;
  max-width: 65rem;
  margin: auto;
}
#home .info-section .info-box {
  background-color: #2c6e5b;
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: left;
  width: 300px;
}
#home .info-section .info-box i {
  font-size: 35px;
}
#home .info-section .info-box h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
#home .info-section .info-box p {
  font-size: 14px;
  line-height: 1.6;
}
#home .video-container {
  text-align: center;
  margin: 30px 0 60px 0;
  border-radius: 90px;
  border: 5px solid 0;
}
#home .video-container iframe {
  width: 70rem;
  height: 35rem;
  border-radius: 30px;
}
#home .about-container {
  margin: auto;
}
#home .about-container .about-section .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin: 30px auto;
  width: 64rem;
  background-color: #f2ebe4;
  padding: 50px;
  border-radius: 30px;
}
#home .about-container .about-section .content .left {
  color: #093532;
}
#home .about-container .about-section .content .left span {
  text-transform: uppercase;
  color: #ef8451;
  font-weight: 600;
}
#home .about-container .about-section .content .left h1 {
  margin-top: 10px;
  font-size: 50px;
  font-weight: 500;
}
#home .about-container .about-section .content .left p {
  font-size: 16px;
}
#home .about-container .about-section .content .right .top,
#home .about-container .about-section .content .right .button {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 20px;
}
#home .about-container .about-section .content .right .top span,
#home .about-container .about-section .content .right .button span {
  font-size: 18px;
  font-weight: 600;
}
#home .about-container .about-section .content .right .top p,
#home .about-container .about-section .content .right .button p {
  font-size: 13px;
}
#home .introduction-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px auto;
  width: 65rem;
  background-color: #f2ebe4;
  padding: 50px;
  border-radius: 30px;
}
#home .introduction-content .content {
  padding: 1em;
  margin: 1em;
}
#home .introduction-content .content i {
  font-size: 35px;
  color: #347362;
}
#home .introduction-content .content h1 {
  font-size: 25px;
}
#home .introduction-content .content p {
  color: #6b8483;
}
#home .footer-container {
  background-color: #093532;
  width: 100%;
  border-radius: 20px 20px 0 0;
  font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
  margin-top: 3em;
}
#home .footer-container .footer-content {
  text-align: center;
  padding: 50px 0;
  margin: auto;
  width: 70%;
}
#home .footer-container .footer-content h1 {
  color: white;
  font-size: 50px;
  line-height: 1.15em;
  letter-spacing: -0.02em;
  margin: 0 0 0.1em;
}
#home .footer-container .footer-content .information {
  display: flex;
  justify-content: center;
  gap: 3em;
  margin: 20px 0;
}
#home .footer-container .footer-content .information p {
  color: white;
  font-size: 1.4em;
}
#home .footer-container .footer-content .information p a {
  color: white;
  text-decoration: none;
}
#home .footer-container .footer-content .button-1 {
  color: #ef8451;
  border: 1px solid #ef8451;
  background-color: transparent;
  padding: 15px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
}
#home .footer-container .footer-content .button-1:hover {
  background-color: #ef8451;
  color: #fff;
  transition: 0.5s;
}
#home .footer-container .footer-content .button-2 {
  color: #fff;
  border: 1px solid white;
  background-color: #093532;
  padding: 15px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 3em;
}
#home .footer-container .footer-content .button-2:hover {
  background-color: white;
  color: #093532;
  transition: 0.5s;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #666;
  background-color: black;
  font-size: 20px;
}
footer a {
  text-decoration: none;
  color: #666;
  margin: 0 10px;
  transition: 0.3s ease-in-out;
}
footer a:hover {
  color: #2ea2cc;
}
footer a i {
  font-size: 20px;
}/*# sourceMappingURL=about.css.map */