body {
  background-color: #f5f3ee;
  font-family: "Open Sans", Arial, sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  --sb-size: 0px;
}
body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

#preloader {
  background: #fff url("/public/830.gif") no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

nav {
  position: fixed;
  background: #fff;
  width: 100%;
  top: 0;
  z-index: 999;

  .navbar-container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;

    img {
      width: 200px;
      height: 80px;
      display: flex;
      align-items: center;
      object-fit: cover;
    }

    .navbar-list {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 1em;
      display: flex;
      align-items: center;
      background-color: transparent;
      border: 0;
      ul {
        display: flex;
        margin: 0;
        padding: 0;

        li {
          cursor: pointer;
          display: flex;
          margin: 0 10px;
          font-weight: 500;

          a {
            text-decoration: none;
            color: black;

            &:hover {
              color: rgba(0, 0, 0, 0.6);
              transition: 0.3s;
            }
          }
        }
      }
    }
    .button {
      display: flex;
      a {
        text-decoration: none;
        cursor: pointer;
        font-weight: 600;
        border-radius: 10px 0 0 10px;

        &.button-1 {
          background-color: #ef8451;
          color: white;
          // border: 2px solid #ef8451;
          padding: 10px 20px;
          cursor: pointer;
        }
        &.button-2 {
          background-color: white;
          color: #ef8451;
          border: 2px solid #ef8451;
          border-radius: 0 10px 10px 0;
          padding: 10px 20px;
          cursor: pointer;
        }
      }
    }
  }
}

#home {
  margin-top: 80px;

  .main-container {
    height: 45rem;
    border-radius: 0 0 20px 20px;
    display: flex;

    .content-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      margin: auto;
      width: 70rem;
      margin-bottom: 10rem;
      .text-content {
        color: black;

        .head {
          color: #ef8451;
          font-weight: 600;
          text-transform: uppercase;
        }
        .center {
          font-size: 60px;
          margin: -10px 0;
          font-weight: 500;
        }
        button {
          border: 1px solid #ef8451;
          background-color: transparent;
          color: #ef8451;
          padding: 18px;
          border-radius: 90px;
          font-size: 15px;
          margin-top: 10px;
          font-weight: 800;
          cursor: pointer;

          &:hover {
            background-color: #ef8451;
            color: #fff;
            transition: 0.3s ease-in-out;
          }
        }
        .list {
          display: flex;
          align-items: center;

          i {
            font-size: 30px;
            margin-right: 10px;
            color: #ef8451;
          }
          p {
            font-size: 18px;
            font-weight: 600;
          }
        }
      }
      .img-container {
        text-align: center;
        img {
          width: 80%;
        }
      }
    }
  }
  .info-section {
    display: flex;
    gap: 20px;
    background-color: #2c6e5b;
    padding: 40px;
    border-radius: 20px;
    max-width: 65rem;
    margin: auto;

    .info-box {
      background-color: #2c6e5b;
      padding: 20px;
      border-radius: 10px;
      color: white;
      text-align: left;
      width: 300px;

      i {
        font-size: 35px;
      }

      h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        line-height: 1.6;
      }
    }
  }
  .video-container {
    text-align: center;
    margin: 30px 0 60px 0;
    border-radius: 90px;
    border: 5px solid red($color: #000000);

    iframe {
      width: 70rem;
      height: 35rem;
      border-radius: 30px;
    }
  }
  .about-container {
    margin: auto;

    .about-section {
      .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        margin: 30px auto;
        width: 64rem;
        background-color: #f2ebe4;
        padding: 50px;
        border-radius: 30px;

        .left {
          color: #093532;
          span {
            text-transform: uppercase;
            color: #ef8451;
            font-weight: 600;
          }
          h1 {
            margin-top: 10px;
            font-size: 50px;
            font-weight: 500;
          }
          p {
            font-size: 16px;
          }
        }
        .right {
          .top,
          .button {
            background-color: white;
            padding: 20px;
            border-radius: 30px;
            margin-bottom: 20px;

            span {
              font-size: 18px;
              font-weight: 600;
            }

            p {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  .introduction-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px auto;
    width: 65rem;
    background-color: #f2ebe4;
    padding: 50px;
    border-radius: 30px;

    .content {
      padding: 1em;
      margin: 1em;

      i {
        font-size: 35px;
        color: #347362;
      }

      h1 {
        font-size: 25px;
      }

      p {
        color: #6b8483;
      }
    }
  }
  .footer-container {
    background-color: #093532;
    width: 100%;
    border-radius: 20px 20px 0 0;
    font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
    margin-top: 3em;

    .footer-content {
      text-align: center;
      padding: 50px 0;
      margin: auto;
      width: 70%;

      h1 {
        color: white;
        font-size: 50px;
        line-height: 1.15em;
        letter-spacing: -0.02em;
        margin: 0 0 0.1em;
      }

      .information {
        display: flex;
        justify-content: center;
        gap: 3em;
        margin: 20px 0;

        p {
          color: white;
          font-size: 1.4em;

          a {
            color: white;
            text-decoration: none;
          }
        }
      }

      .button-1 {
        color: #ef8451;
        border: 1px solid #ef8451;
        background-color: transparent;
        padding: 15px;
        border-radius: 50px;
        cursor: pointer;
        font-size: 15px;
        text-transform: uppercase;

        &:hover {
          background-color: #ef8451;
          color: #fff;
          transition: 0.5s;
        }
      }

      .button-2 {
        color: #fff;
        border: 1px solid white;
        background-color: #093532;
        padding: 15px;
        border-radius: 50px;
        cursor: pointer;
        font-size: 15px;
        text-transform: uppercase;
        margin-left: 3em;

        &:hover {
          background-color: white;
          color: #093532;
          transition: 0.5s;
        }
      }
    }
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #666;
  background-color: black;
  font-size: 20px;

  a {
    text-decoration: none;
    color: #666;
    margin: 0 10px;
    transition: 0.3s ease-in-out;

    &:hover {
      color: #2ea2cc;
    }

    i {
      font-size: 20px;
    }
  }
}
